@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(58, 157, 196)
  
}

.childContainer {
  width: fit-content;
  height: 250px;
  margin: 40px;
  font-size: 40px;
  font-weight: 500;
  border: 400px;
}

.ashwhiteColor {
  color: rgb(143, 164, 177);
}